# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_path ="../output_data/cities.csv"

cities_df = pd.read_csv(csv_path, encoding="utf-8")
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Novyy Karachay,43.82,41.90,59.81,41,35,6.06,RU,1603994753
1,1,Biograd na Moru,43.94,15.45,57.99,100,20,8.86,HR,1603994753
2,2,Te Anau,-45.42,167.72,52.20,90,97,1.61,NZ,1603994753
3,3,Port Elizabeth,-33.92,25.57,59.00,87,75,26.40,ZA,1603994754
4,4,Narsaq,60.92,-46.05,32.00,95,75,2.24,GL,1603994754

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = cities_df[["Lat","Lng"]].astype(float)
humidity = cities_df['Humidity'].astype(float)

In [4]:

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(
    locations,
    weights=humidity, 
    dissipating=False,
    max_intensity=100,
    point_radius = 1
)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
ideal_weather = cities_df.loc[(cities_df['Cloudiness'] == 0) & (cities_df['Max Temp'] > 70) & (cities_df['Max Temp'] < 80) & (cities_df['Wind Speed']<10)].dropna()
ideal_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
117,117,Karhal,27.00,78.94,71.73,25,0,3.74,IN,1603994518
222,222,Angoche,-16.23,39.91,78.01,77,0,6.76,MZ,1603994839
225,225,Keti Bandar,24.14,67.45,79.23,59,0,4.65,PK,1603994840
234,234,Bilma,18.69,12.92,77.38,17,0,4.21,NE,1603994843
288,288,Acajutla,13.59,-89.83,77.00,94,0,4.70,SV,1603994865
320,320,Buin,-33.73,-70.75,77.00,23,0,3.36,CL,1603994878
326,326,Trelew,-43.25,-65.31,71.73,20,0,9.66,AR,1603994799
344,344,Raisen,23.33,77.80,70.18,36,0,3.02,IN,1603994887
360,360,Villa Carlos Paz,-31.42,-64.50,73.00,32,0,1.99,AR,1603994893
390,390,Ruwi,23.60,58.55,78.80,69,0,3.36,OM,1603994904
407,407,Malibu,34.01,-118.81,78.01,43,0,3.00,US,1603994912
408,408,Chabahar,25.29,60.64,73.40,60,0,8.93,IR,1603994708
424,424,Lahān,26.73,86.50,73.44,62,0,3.47,NP,1603994917
482,482,Giyani,-23.30,30.72,78.78,21,0,4.63,ZA,1603994940
508,508,Makkah al Mukarramah,21.43,39.83,78.15,64,0,2.33,SA,1603994951
558,558,Alibag,18.64,72.88,78.75,71,0,2.42,IN,1603994975
565,565,San Clemente,33.43,-117.61,75.00,65,0,1.01,US,1603994978

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure